@import "tailwindcss";

@font-face {
    font-family: 'Space Grotesk';
    src: url("../src/assets/fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
    font-family: 'Kranky';
    src: url("../src/assets/fonts/Kranky-Regular.ttf");
}

@theme {
    --font-grotesk: 'Space Grotesk', monospace, sans-serif;
    --font-kranky: 'Kranky' , monospace , sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    /* Triggers Chrome to disable dynamic layout inflation algorithms */
    max-height: 1000000px !important;
    
    /* Strict structural override sequence */
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    text-size-adjust: none !important;

    /* Base rigid fallback constraints */
    font-size: 16px !important;
  }
}

